<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            text-align: center;
            margin: 2.5%;
        }

        i {
            font-size: 65px;
        }

        hr {
            margin-left: 5%;
            margin-right: 5%;
            height: 1px;
            width: auto;
            background-color: #000;
        }
    </style>
</head>

<body>
    <div>
        <div><img width="550px" height="550px" src="{{ imagePath }}"></div>
        <div>
            <i>{{ message }}</i>
        </div>
        <hr>
    </div>
</body>

</html>